html, body {
    margin: 0;
    padding:0;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #F1C232
}
.filter-gird {
    display: flex;
    justify-content: center;

}
.FButton {
  margin-left: 1rem;
  margin-right: 1rem;
 background-color: #CDCDCD; 
 border-radius: 25px;
 padding: 1%;
 padding-left: 2%;
 padding-right: 2%;
 font-weight: 1000;
 font-size: 1.5rem;
 color:#4C4646;
 margin-bottom: 1rem;

}
.H1-Div {
    display: flex;
    justify-content: center;  
    margin-top:2rem;
    margin-bottom: 1rem;
}

 .scholars-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}   

.scholar-box {
    background-color: #4C4646;
    margin-top: 1rem;
    margin-left: 1rem;
    min-width: 22%;
    max-width: 22%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 30rem;
    min-height: 30rem;
    
}
.deadline-box {
    align-self: center;
    font-weight: bolder;
    
    
}
.deadline-text {
    font-weight: bolder;
    color:#FFFFFF;
    margin: .4rem;
}

.title-box {
background-color: #939393;

}

.scholar-title {
    font-weight: bolder;
    font-size: 1.5rem;
    padding:.5rem;
    padding-left: 1rem;
}

.Scholar-info-box {
background-color:#CDCDCD ;
height: 100%;
border-radius: 0px 0px 16px 16px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.Scholar-info-text {
margin:10px;
padding-left: .5rem;
}

.Sdates {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Line {
    padding-bottom:1rem;
    color: #4C4646;
}
.Bolder {
    font-weight: bolder;
}
.Apply-box {
    display:flex;
    justify-content: center;
    margin: 1rem;
}

.Apply {
    background-color:#939393;
    padding:.5rem;
    border-radius: 16px;
    width: 50%;
}
