/* Button Grid Styling */
.button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-top:20px;
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 23%; /* Adjust this percentage as needed */
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
    background-color: #f1c232;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: #333;
    overflow: hidden;
}

.button-item img {
    width: 80%; /* Increased width to make the image larger */
    height: auto;
    margin-top: -10%;
    margin-bottom: -5%;
}

.button-item span {
    font-size: 1.7rem;
    font-weight: bold;
    color: white; /* Changed text color to white */
}

.button-item:hover,
.button-item:focus {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .button-item {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .button-item {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .button-item {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .button-item {
        width: 100%;
    }
}

.content {
    margin-top: 260px; /* Increased margin-top to ensure content starts below the navbar */
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.programBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 15%; /* Adjust this percentage as needed */
    aspect-ratio: 1 / 1; /* Maintain square aspect ratio */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: #333;
    overflow: hidden;
    background-color: #FFFF;
    min-width: 180px;
}

.program-image {
    width: 70%;
}
.ptitle {
    font-size: 10%;
}