.bodyy {
    width: 100vw;
    max-width: 100%;
    margin:0%;
    padding: 0%;
    background-color: #F1F2ED;
}
header {
    display:flex;
    margin-top: 1em;
    justify-content:space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
}
.addMoreBackground {
    display: flex;
    background-color: #FFD966;
    align-items: center;
    max-width: 13em;
    line-height: 30px;
    height: 6em;
    border-radius: 30px;
}
.addMoreIcon {
    max-width: 60px;
    margin-right: .5em;
    margin-left: 1em;
}

.addMoreText {
    font-size: 2.1em;
    font-weight: 900;
    color: white;
    text-shadow: 1px 0 #FFFF;
    letter-spacing:1px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;

    
}
.title {
    display: flex;
    
}
.subtitle {
    font-size: large;
    font-size: 2.6em;
    color: #C2B897;
    font-weight: 900;
    margin-top: -.5ewhat is m;
    text-shadow: 1px 0 #C2B897;
    letter-spacing:1px;
   
}
.titleContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 240;
}
.yourText {
color: #F1C232;
font-size: 6em;
font-weight: 900;
padding-left: 2%;
}
.cartonText {
color:black;
font-size:6em;
font-weight: 900;
}
@media (max-width:768px) {
    .yourText {
        color: #F1C232;
        font-size: 10vw;
        font-weight: 900;
        padding-left: 2%;
        }
        .cartonText {
        color:black;
        font-size:10vw;
       
        }
        .subtitle {
            font-size: large;
            font-size: 5vw;
            color: #C2B897;
            font-weight: 900;
            margin-top: -.5em;
            text-shadow: 1px 0 #C2B897;
            letter-spacing:1px;
            
        }
        .addMoreBackground {
            display: flex;
            background-color: #FFD966;
            align-items: center;
            width: 8em;
            max-width: 15em;
            line-height: 30px;
            height: 10vw;
            border-radius: 30px;
            margin-top: 1em;
        }
        .addMoreIcon {
            max-width: 5vw;
            margin-left: 1em;
        }
        
        .addMoreText {
            font-size: 3vw;
            font-weight: 900;
            color: white;
            text-shadow: 1px 0 #FFFF;
            letter-spacing:1px;
            text-shadow: 0px 1px, 1px 0px, 1px 1px;
        }
        .eggCount {
            display: none;
        }
        .titleContainer {
            display:flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        header {
            /* height: 9vw; */
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            justify-content: flex-end;
        }
        .title {
            display: flex;
            /* width: */
        }
        
        
}

.container {
background-color: #FFE598;
margin-left: 2em;
margin-top:2em;
margin-bottom:2em;
display: flex;
height: 13em;
align-items: center;
padding-left: 1em;
border-radius: 2em;
justify-content: space-between;
max-width: none;
width: 96%;
}
.half-container {
    display: flex;
    
}
.IMG {
    max-width: 10em;
    border-radius: 2em;
}

.STitle {
    font-size: 3.5em;
    font-weight: 900;
    color: #F1C232;
    margin-top: -.25em;
}
.info {
    margin-left: 2em;
}
.SDesc {
    color:#464040;
    font-weight:900px;
    font-size: 1.5em;
    font-weight: 900;
    margin-top: -.5em;
}
.enter {
    background-color: #F1C232;
    border-radius: 25px;
    padding:.5em;
    color:#FFFF;
    font-weight:900;
    font-size:1.2em;
    margin-top: .5em;
}


.sec-Half-container {
    display: flex;
    margin-right: 1.1em;
    align-items: center;
}

.xdiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10.5em;
    margin-right: 20px;
    
}
.Xlogo {
    min-width: 30px;
    max-height: 30px;
    width: 30px;
}

.cost {
    font-size: 3.5em;
    font-weight:900;
    margin-left: 8%;
    margin-right:8%;
    float: right;
    color:black;
    font-weight: 900;
}

@media (max-width: 700px) {
    .container {
        background-color: #FFE598;
        margin-left: .5em;
        margin-top:2em;
        margin-bottom:2em;
        display: flex;
        height: 10em;
        align-items: center;
        border-radius: 2em;
        justify-content: space-between;
        max-width: none;
        width: 96%;
        margin-bottom: 0em;
        }
        .half-container {
            display: flex;
            
            
        }
        .IMG {
            max-width: 6em;
            border-radius: 2em;
        }
        
        .STitle {
            font-size: 9vw;
            font-weight: 900;
            color: #F1C232;
            margin-top: -.25em;
        }
        .info {
       margin-left: 10px;
        }
        .SDesc {
            color:#464040;
            font-weight:900px;
            font-size: 3vw;
            font-weight: 900;
            margin-top: -.5em;
        }
        .enter {
            background-color: #F1C232;
            border-radius: 25px;
            padding:.5em;
            color:#FFFF;
            font-weight:900;
            font-size:3vw;
            margin-top: .5em;
        }
        
        
        .sec-Half-container {
            display: flex;
            margin-right: 1.1em;
            align-items: flex-start;
            margin-left: -1em;
        }
        
        .xdiv {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            height: 10.5em;
            margin-top: 1em;
            margin-right: 5px;
           
        }
        .Xlogo {
        
        min-width: 25px;
        max-height: 25px;
        }
        
        .cost {
            font-size: 6vw;
            font-weight:900;
            
            margin-right:8%;
            float: right;
            color:black;
            font-weight: 900;
            padding-top: 1.5em;
        }
}
/* POP UP */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }